<div class="row">
  <div class="col-sm-12">
    <div class="content-header">Tiles Configurations</div>
  </div>
</div>

<section id="collapse">
  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-body">
          <div class="card-block">
            <div>
              <button type="button" class="btn btn-outline-primary mt-2" (click)="isCollapsed = !isCollapsed"
              [attr.aria-expanded]="!isCollapsed" aria-controls="collapseExample">
              Add Tiles
              </button>
            </div>
            <div id="collapseExample" [ngbCollapse]="isCollapsed" *ngIf="tilesCount < 8">
              <form class="foprm" [formGroup]="regularForm" (ngSubmit)="onReactiveFormSubmit()">
                <div class="form-body">
                  <div class="row">
                    <div class="col-md-12">
                      <div class="form-group">
                        <label>Tiles Name</label>
                        <input type="text" name="name" formControlName="name" placeholder="Enter the Tile Name" class="form-control">
                      </div>
                      <div class="form-group">
                        <label>Select Icon</label>
                        <div class="social-icon-round">
                          <a class="btn btn-social-icon btn-round mr-2 mb-2" *ngFor="let icon of simpleIcon" (click)="selecIcon(icon.name)">
                            <i class="{{icon.name}}"></i>
                          </a>
                        </div>
                        <!-- <select class="form-control" name="icon" formControlName="icon">
                          <option value="">Select Icon</option>
                          <option *ngFor="let icon of simpleIcon" value="{{icon.value}}" class="fonticon-container">
                            <div class="fonticon-wrap">
                              <i class="icon-users"></i>
                            </div>
                            {{icon.name}}
                          </option>
                        </select> -->
                      </div>
                      <div class="form-group">
                        <label>Choose Value</label>
                        <select class="form-control" name="value" formControlName="value" (change)="selectColumn($event.target.value, $event);">
                          <option value="" selected>Select Icon</option>
                          <option value="users">Users</option>
                          <option value="newsletter">Newsletter</option>
                          <option value="loyalty">Loyalty</option>
                          <option value="membership_plans">Memberships</option>
                        </select>
                      </div>
                      <div class="form-group">
                        <label *ngIf="!memLoyVal">Choose Column</label>
                        <label *ngIf="memLoyVal">Choose {{valueName}}</label>
                        <select class="form-control" name="columns" formControlName="columns" *ngIf="!memLoyVal">
                          <option value="" selected>Select Column</option>
                          <option *ngFor="let column of columns" value="{{column.fieldName}}">{{column.title}}</option>
                        </select>
                        <select class="form-control" name="columns" formControlName="columns" *ngIf="memLoyVal" (change)="getstatscolumns($event.target.value)">
                          <option value="" selected>Select {{valueName}}</option>
                          <option *ngFor="let column of columns" value="{{column.id}}">{{column.title}}</option>
                        </select>
                      </div>
                      <div class="form-group" *ngIf="newsletter">
                        <label>Choose Newsletter Fields</label>
                        <select class="form-control" name="newscolumns" formControlName="newscolumns" (change)="newsletterSelectedColumn = $event.target.options[$event.target.options.selectedIndex].text">
                          <option value="" selected>Select Column</option>
                          <option *ngFor="let column of newsletterColumns" value="{{column.id}}">{{column.title}}</option>
                        </select>
                      </div>
                      <div class="form-group">
                        <label>Choose Color</label>
                        <select class="form-control" name="color" formControlName="color">
                          <option value="" selected>Select Color</option>
                          <option *ngFor="let colorPalette of colorPalettes" value="{{colorPalette.value}}" [ngStyle]="{ 'color': colorPalette.value }"><a>{{colorPalette.name}}</a></option>
                        </select>
                      </div>
                      <div class="form-group">
                        <button type="button" class="btn btn-danger btn-raised  mr-1" (click)="cancel()">Cancel</button>
                        <button type="submit" class="btn btn-success btn-raised">Generate Tiles</button>
                      </div>
                    </div>
                  </div>
                </div>
              </form>
              <!-- <table class="table table-striped table-bordered col-lg-4">
          			<caption>
          				<i>Add/remove textbox and chip dynamically in Angular 6</i>
          			</caption>

          			<thead>
          				<tr>
          					<th>Item Name
          						<a (click)="onEditCloseItems()" class="text-info float-right">
          							<i class="{{isEditItems ? 'ft-x' : 'ft-edit-2'}} mdi-18px"></i>
          						</a>
          					</th>
          				</tr>
          			</thead>

          			<tbody *ngIf="!isEditItems">
          				<tr *ngFor="let field of fieldArray; let i = index">
          					<td *ngIf="field?.name">
          						<i (click)="deleteFieldValue(i)" class="ft-x"></i> {{field.name}}
          					</td>
          				</tr>
          			</tbody>

          			<tbody *ngIf="isEditItems">
          				<tr *ngFor="let field of fieldArray; let i = index">
          					<td>
          						<div class="input-group">
          							<div class="input-group-prepend">
          								<div (click)="deleteFieldValue(i)" class="input-group-text">
          									<i class="ft-x"></i>
          								</div>
          							</div>
          							<input [(ngModel)]="field.name" class="form-control" type="text" name="{{field.name}}" placeholder="Name...">
          						</div>
          					</td>
          				</tr>
          				<tr>
          					<td align="right">
          						<button *ngIf="fieldArray.length <= 2" class="btn btn-flat btn-primary" type="button" (click)="addFieldValue()" style="margin-right:10px">Add More Item</button>
          						<button (click)="onEditCloseItems()" class="btn btn-flat btn-primary" type="button">Save Items</button>
          					</td>
          				</tr>
          			</tbody>
          		</table> -->
            </div>
            <div id="collapseExample" [ngbCollapse]="isCollapsed" *ngIf="tilesCount == 8">
              <label>You have reached the maximum creation of tiles.</label>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-body">
          <div class="card-block">
            <div class="card-title">
              Tiles
            </div>
            <table class="table table-responsive-md">
                <thead>
                  <tr>
                    <th>Tiles</th>
                    <th></th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let tile of tiles">
                    <td>{{tile.name}}</td>
                    <td>
                      <a class="danger p-0" data-original-title="" title="" (click)="deleteTile(tile.id)">
                          <i class="fas fa-trash font-medium-3 mr-2"></i>
                      </a>
                    </td>
                  </tr>
                </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
