<div class="row" *ngIf="!isSuperAdmin">
  <div class="col-xl-3 col-lg-6 col-12" *ngFor="let tile of tiles">
    <div class="card">
      <div class="card-body">
        <div class="media align-items-stretch">
          <div class="p-2 text-center rounded-left pt-3" [ngStyle]="{ 'background-color': tile.color }">
            <i class="{{tile.icon}} font-large-2 text-white"></i>
          </div>
          <div class="p-2 media-body">
            <h6>{{tile.name}}</h6>
            <h5 class="text-bold-400 mb-0">{{tile.count}}</h5>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row" *ngIf="isSuperAdmin">
  <div class="col-xl-3 col-lg-6 col-12" *ngFor="let tile of widgets">
    <div class="card">
      <div class="card-body">
        <div class="media align-items-stretch">
          <div class="p-2 text-center rounded-left pt-3" [ngStyle]="{ 'background-color': tile.color }">
            <i class="{{tile.icon}} font-large-2 text-white"></i>
          </div>
          <div class="p-2 media-body">
            <h6>{{tile.name}}</h6>
            <h5 class="text-bold-400 mb-0">{{tile.count}}</h5>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row" *ngIf="!isSuperAdmin">
    <div class="col-lg-6 col-12" *ngFor="let chart of charts">
      <div class="card">
          <div class="card-header">
              <div class="card-title-wrap bar-success">
                  <h4 class="card-title">{{chart.name}}</h4>
              </div>
          </div>
          <div class="card-body">
              <div class="card-block">
                  <div class="height-400" *ngIf="chart.chartType == 'line'">
                      <ngx-charts-line-chart [scheme]="ChartColorScheme" [results]="chart.layout" [gradient]="false" [xAxis]="true" [yAxis]="true"
                        [legend]="false" [yAxisTicks]="chart.yAxisTicks" [showXAxisLabel]="true" [showYAxisLabel]="true" [xAxisLabel]="chart.xaxis" [yAxisLabel]="chart.yaxis" [autoScale]="true">
                      </ngx-charts-line-chart>
                  </div>
                  <div class="height-400" *ngIf="chart.chartType == 'bar'">
                      <ngx-charts-bar-vertical [scheme]="ChartColorScheme" [results]="chart.layout" [gradient]="false" [xAxis]="true"
                          [yAxis]="true" [legend]="false" [showXAxisLabel]="true"
                          [showYAxisLabel]="true" [yAxisTicks]="chart.yAxisTicks" [xAxisLabel]="chart.xaxis" [yAxisLabel]="chart.yaxis">
                      </ngx-charts-bar-vertical>
                  </div>
                  <div class="height-400" *ngIf="chart.chartType == 'pie'">
                      <ngx-charts-pie-chart [scheme]="ChartColorScheme" [results]="chart.layout" [legend]="true" [explodeSlices]="false"
                          [labels]="true" [doughnut]="false" [gradient]="false">
                      </ngx-charts-pie-chart>
                  </div>
              </div>
          </div>
      </div>
    </div>
    <!-- <div class="col-sm-12">
        <div class="card">
            <div class="card-header">
                <div class="card-title-wrap bar-success">
                    <h4 class="card-title">{{barChartName}}</h4>
                </div>
            </div>
            <div class="card-body">
                <div class="card-block">
                    <div id="line-chart1" class="height-400">
                        <ngx-charts-bar-vertical [scheme]="barChartColorScheme" [results]="barChartSingle" [gradient]="false" [xAxis]="true"
                            [yAxis]="true" [legend]="false" [showXAxisLabel]="true"
                            [showYAxisLabel]="true" [xAxisLabel]="barChartXAxisLabel" [yAxisLabel]="barChartYAxisLabel">
                        </ngx-charts-bar-vertical>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-12">
        <div class="card">
            <div class="card-header">
                <div class="card-title-wrap bar-success">
                    <h4 class="card-title">{{barChartName}}</h4>
                </div>
            </div>
            <div class="card-body">
                <div class="card-block">
                  <div id="pie-chart1" class="height-400">
                      <ngx-charts-pie-chart [scheme]="pieChartColorScheme" [results]="pieChartSingle" [legend]="true" [explodeSlices]="false"
                          [labels]="true" [doughnut]="false" [gradient]="false">
                      </ngx-charts-pie-chart>
                  </div>
                </div>
            </div>
        </div>
    </div> -->
</div>

<div class="row" *ngIf="isSuperAdmin">
    <div class="col-lg-6 col-12" *ngFor="let chart of chartsForAdmin">
      <div class="card">
          <div class="card-header">
              <div class="card-title-wrap bar-success">
                  <h4 class="card-title">{{chart.name}}</h4>
              </div>
          </div>
          <div class="card-body">
              <div class="card-block">
                  <div class="height-400">
                      <ngx-charts-bar-vertical [scheme]="ChartColorScheme" [results]="chart.layout" [gradient]="false" [xAxis]="true"
                          [yAxis]="true" [legend]="false" [showXAxisLabel]="true"
                          [showYAxisLabel]="true" [yAxisTicks]="chart.yAxisTicks" [xAxisLabel]="chart.xaxis" [yAxisLabel]="chart.yaxis">
                      </ngx-charts-bar-vertical>
                  </div>
              </div>
          </div>
      </div>
    </div>
</div>
