<section>
    <div class="row">
        <div class="col-md-6">
            <div class="content-header">Lists</div>
        </div>
    </div>
    <div class="row" *ngIf="showTable">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-header">
                    <div class="row">
                        <div class="col-sm-6">
                            <p>Lists</p>
                        </div>
                        <div class="col-sm-6" style="text-align: right;">
                            <p>
                                <a class="btn btn-social btn-round btn-min-width mr-2 mb-2 btn-outline-bitbucket float-right" (click)="addlist()"><span class="ft-plus"></span> Add List</a>
                            </p>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="card-block">
                            <table class="table table-responsive-md text-center">
                                <thead>
                                    <tr>
                                        <th>List Name</th>
                                        <th>Email</th>
                                        <th>Phone Number</th>
                                        <th>Address</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let data of listData | paginate: { itemsPerPage: 5, currentPage: p }">
                                        <td>{{data.name}}</td>
                                        <td>{{data.email}}</td>
                                        <td>{{data.phone}}</td>
                                        <td>{{data.address}}</td>
                                        <td>
                                            <a class="success p-0" data-original-title="" title="" (click)="editlist(data.id)">
                                                <i class="fas fa-pencil-alt font-medium-3 mr-2"></i>
                                            </a>
                                            <a class="danger p-0" data-original-title="" title="" (click)="deletelist(data.id)">
                                                <i class="fas fa-trash font-medium-3 mr-2"></i>
                                            </a>
                                        </td>
                                    </tr>

                                    <!-- <pagination-controls (pageChange)="p = $event"></pagination-controls> -->
                                </tbody>
                            </table>
                            <div class="col-12 paginationonAction">
                                <span class="total">{{collectionSize}} Total</span>
                                <ngb-pagination [pageSize]="pageSize" [(page)]="p" [maxSize]="5" [rotate]="true" [collectionSize]="collectionSize" [boundaryLinks]="true" style="float: right;"></ngb-pagination>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row" *ngIf="!showTable">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-body">
                    <div class="px-3">
                        <form class="form" [formGroup]="listForm">
                            <div class="form-body">
                                <!-- <h4 class="form-section">
                                <i class="icon-user"></i> Personal Details</h4> -->
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="projectinput1">Name</label>
                                            <input type="text" id="projectinput1" class="form-control" formControlName="fname" [(ngModel)]="lists.name" required>
                                            <small class="form-text text-muted danger" *ngIf="!listForm.get('fname').valid && (listForm.get('fname').dirty || listForm.get('fname').touched)">This field is required!</small>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="projectinput2">Email</label>
                                            <input type="text" id="projectinput2" class="form-control" formControlName="email" [(ngModel)]="lists.email" required>
                                            <small class="form-text text-muted danger" *ngIf="!listForm.get('email').valid && (listForm.get('email').dirty || listForm.get('email').touched)">This field is required!</small>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="projectinput3">Phone Number</label>
                                            <input type="text" id="projectinput3" class="form-control" formControlName="phone" [(ngModel)]="lists.phonenum" required>
                                            <small class="form-text text-muted danger" *ngIf="!listForm.get('phone').valid && (listForm.get('phone').dirty || listForm.get('phone').touched)">This field is required!</small>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="projectinput4">Address</label>
                                            <input type="text" id="projectinput4" class="form-control" formControlName="address" [(ngModel)]="lists.address" ngx-google-places-autocomplete [options]='options' #placesRef="ngx-places" (onAddressChange)="handleAddressChange($event)" required>
                                            <small class="form-text text-muted danger" *ngIf="!listForm.get('address').valid && (listForm.get('address').dirty || listForm.get('address').touched)">This field is required!</small>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <!-- <div class="col-md-6">
                                        <div class="form-group">
                                            <label>Select File</label>
                                            <input type="file" class="form-control-file" id="projectinput8" name="image" [(ngModel)]="lists.image">
                                        </div>
                                    </div> -->
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label>Newsletter</label>
                                            <div class="custom-control custom-checkbox m-0">
                                                <input type="checkbox" class="custom-control-input" id="item1" formControlName="newsletter" [(ngModel)]="lists.checkbox" required>
                                                <label class="custom-control-label" for="item1">Opt In</label>
                                                <small class="form-text text-muted danger" *ngIf="!listForm.get('newsletter').valid && (listForm.get('newsletter').dirty || listForm.get('newsletter').touched)">This field is required!</small>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-actions">
                                <button type="submit" class="btn btn-raised btn-danger mr-1" (click)="cancel()">
                                <i class="icon-trash"></i> Cancel
                                </button>
                                <button type="submit" class="btn btn-raised btn-success mr-1" (click)="list()" *ngIf="!save" [disabled]="!listForm.valid">
                                <i class="icon-note"></i> Update List
                                </button>
                                <button type="submit" class="btn btn-raised btn-success" (click)="list()" *ngIf="save" [disabled]="!listForm.valid">
                                <i class="icon-note"></i> Add List
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>