<section id="list">
    <div class="row">
        <div class="col-sm-12">
            <div class="content-header">Roles</div>
        </div>
    </div>
    <div class="row">
        <!--Basic List Group Starts-->
        <div class="col-sm-12">
            <div class="card">
                <div class="card-header">
                        <div class="card-title-wrap bar-success">
                    <h4 class="card-title">Role Names</h4>
                        </div>
                </div>
                <div class="card-body">
                    <div class="card-block">
                        <ul class="list-group">
                            <li class="list-group-item" *ngFor="let group of groups">{{group.name}}</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>